body {
    color: #797979;
    background: #f1f2f7;
    font-family: 'Open Sans', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

.profile-nav, .profile-info{
    margin-top:30px; 
}

.profile-nav .user-heading {
    background: #fbc02d;
    color: #fff;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    padding: 30px;
    text-align: center;
}

.profile-nav .user-heading.round a  {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.3);
    display: inline-block;
}

.profile-nav .user-heading a img {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}
/*  */
.profile-nav .user-heading h1 {
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 5px;
}

.profile-nav .user-heading p {
    font-size: 10px;
}

.profile-nav ul {
    margin-top: 1px;
}

.profile-nav ul > li {
   
    margin-top: 0;
    line-height: 50px;
    
}

.profile-nav ul > li:last-child {
    border-bottom: none;
}

.profile-nav ul > li > a {
    border-radius: 0;
    -webkit-border-radius: 0;
    color: #89817f;
   
}


/* padding for buttons (ex. edit profile) */
.profile-nav ul > li > a > i{
    font-size: 17px;
    padding-right: 45px;
    color: #e0ddda;
}


.bio-graph-info h1 {
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 20px;
}

.bio-row {
    width: 50%;
    float: left;
    margin-bottom: 10px;
    padding:0 15px;
}

.bio-row p span {
    width: 100px;
    display: inline-block;
}






